# Ignore artifacts:
build
coverage
dist
.nx
.yarn

# Ignore all node_modules
node_modules
apps/*/node_modules
packages/*/node_modules
services/*/node_modules

# iOS and Android
ios/
android/
apps/*/ios/
apps/*/android/
